<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= post.title %>
    </title>
</head>

<body>
    <div class="container-fluid">


        <div class="jumbotron">

            <button class="btn btn-light">
                <a href="/home">
                    Back
                </a>
            </button>

            <h1 class="display-3">
                <%= post.title %>
            </h1>
            <h5>Posted on: <%= post.date_created %>
            </h5>
            <span>
                <form action="/like/:postid" method="post">

                    <input 
                        type="number" 
                        value="<%= post.post_id %>"
                        name="postid" 
                        hidden
                    >

                    <button name="postid" class="btn">
                        <i class="fas fa-thumbs-up fa-2x"></i>
                        Likes <%= post.likes %>
                    </button>
                </form>
            </span>
        </div>


        <div class="container">
            <h3 class="display-5 ">
                <%= post.body %>
            </h3>
        </div>



        <div class="container my-5">

            <!-- Comment Box -->

            <!-- A dummt text field for getting post id -->
            <form action="/comment/post" method="POST">
                <input 
                    type="text" 
                    name="postid" 
                    value="<%= post.post_id %>"
                    hidden
                >

                
                                
                <label for="body">Write a comment</label>
                <input 
                    type="text" 
                    name="body" 
                    id="body" 
                    class="form-control"
                    required
                >

                <button type="submit" class="my-2 btn btn-warning">
                    Comment
                </button>
                
            </form>
            <!--  -->


            <!-- If there are comments then display them -->
            <% if (comments.length > 0) { %>

                <h1>Comments</h1>

                <% comments.forEach(comment => { %>
                    <div class="container-fluid border my-3 p-3">
                        <p><b><%= comment.posted_by %> says</b></p>
                        <p><%= comment.body %> </p>
                    </div>
                <% }) %>
            <% } %>

            <!--  -->
        </div>

    </div>


</body>

</html>