<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>
        <%=user[0].user_name%>
    </title>
</head>

<body>

    <div class="jumbotron bg-dark text-light">

        <!-- Users is an array of made by a UNIION query -->
        <!-- First object in the array is the user's info -->
        <!-- Rest are the posts of the user -->

        <!-- Showing User info -->
        <h1 class="display-1">
            <%= user[0].user_name %>
        </h1>


        <h3>Birthday: <%= user[0].dob %>
        </h3>

        <button class="btn btn-light">
            <a href="mailto:<%= user[0].email %>">
                Send Email
            </a>
        </button>


    </div>


    <div class="container-fluid my-4">

        <h1 class="display-2 my-5">Posts by user</h1>

        <!-- Loop from 2nd element to last -->
        <% for( let i=1; i < user.length; i++) { %>
            <div class="container-fluid my-5 border p-3">
                <h3>
                    <%= user[i].title %>
                </h3>
                <p><%= user[i].body %> </p>
            </div>

        <% } %>

    </div>









</body>

</html>